body {
  background-color: #EDEDED;
}
h1 {
  text-transform: uppercase;
}
.centered {
  margin: 0 auto;
}
.tutorial {
  background-color: #778899;
  color: white;
}
button {
  cursor: pointer;
}

/*media queries*/
@media only screen and (max-width: 500px) {
  .modal-dialog {
    width: 375px;
  }
}
